.link{
    font-size: 18px;
    padding: 10px;
    text-decoration: none;
    margin: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.link:hover{
   background-color: grey;
}
.brand h3{
    color: rgb(3, 101, 101);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 700;
    font-size: 35px;
    
}